{
	"useTabs": true,
	"tabWidth": 4,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["^@/shared/(.*)$", "^@/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
